div.image,div.cont,div.SAA,div.home{
	width: 50%;
	border: 15px solid pink;
	padding: 10px;
	margin: auto;
}

#profile{
	background-color: pink;
}
#homepage,#SA,#contact {
	letter-spacing: 3px;
}
#nav li{
	display: inline;
	padding: 0;
	margin: 0;
}
#nav a:link,
#nav a:visited{
	color: white;
	background: #ff6699;
	padding: 5px 20px 4px 20px;
	border-right: 5px solid white;
	text-decoration: underline;
	text-shadow: 2px 2px 2px #555;
	display: inline-block;
}
#nav a:hover, nav a:active {
	color: red;
}
p{
	font-family: Garamond;
	font-size: 22pt;
}
h1{
	font-family: "Lucida Handwriting" ;
	color: white;
	font-size: 28pt;
}
body{
	background-color:#ff80aa; 
}
